%table.table.responsive.text-center{id: 'table_desing'}
  %thead
    %th=t('common_texts.name')
    %th=t('common_texts.description')
    %th=t('common_texts.status')
    %th=t('common_texts.total')
    %th=t('common_texts.correct')
    %th=t('common_texts.incorrect')
    %th=t('buttons.show')
  %tbody
    - if @products.any?
      = render partial: 'products/product', collection: @products
