%div.row
  %div.card
    %h1= t('products.new_subtitle')
    = form_for :product, :url => { :action => "create"}, method: 'POST', :html => {:class => "form row"} do |f|
      = render partial: 'form_fields', locals: {f: f}